$roolith-editor-modal-bg: rgba(255, 255, 255, 0.7) !default;
$roolith-editor-modal-content-bg: #fff !default;
$roolith-editor-modal-content-spacing: rem(10) rem(15) !default;

.roolith__editor__modal {
    position: fixed;
    background: $roolith-editor-modal-bg;
    width: 100%;
    height: 100%;
    z-index: 2;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: $roolith-editor-font-family;
    font-size: $roolith-editor-font-size;
}

.roolith__editor__modal__content {
    background: $roolith-editor-modal-content-bg;
    border: rem(1) solid $roolith-editor-border-color;
    border-radius: $roolith-editor-border-radius;
    min-width: rem(300);
    max-width: rem(600);
    box-shadow: 0 rem(2) rem(5) 0 rgba(0, 0, 0, 0.05);
}

.roolith__editor__modal__content__header {
    border-bottom: rem(1) solid $roolith-editor-border-color;
    padding: $roolith-editor-modal-content-spacing;
    position: relative;
}

.roolith__editor__modal__content__body {
    padding: $roolith-editor-modal-content-spacing;
}

.roolith__editor__modal__close {
    display: inline-block;
    width: rem(18);
    height: rem(18);
    mask: inline-svg('<svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg>');
    background: darken($roolith-editor-primary-color, 70%);
    position: absolute;
    bottom: 0;
    right: 0;
    border: none;
    margin: rem(10);
    cursor: pointer;
    opacity: 0.5;
    @include transition('opacity');

    &:hover {
        opacity: 1;
    }
}

.roolith__editor__modal__content__footer {
    padding: $roolith-editor-modal-content-spacing;
    border-top: rem(1) solid $roolith-editor-border-color;
    @include clearfix();
}

.roolith__editor__modal__cta {
    float: right;
    background: $roolith-editor-cta-color;
    padding: rem(5) rem(10);
    font-family: $roolith-editor-font-family;
    font-size: rem(14);
    color: $roolith-editor-cta-font-color;
    text-transform: uppercase;
    border-radius: $roolith-editor-border-radius;
    border: none;

    &:hover {
        cursor: pointer;
        background: darken($roolith-editor-cta-color, 5%);
    }
}

.roolith__editor__modal__form {

}

.roolith__editor__modal__form__item {
    padding-bottom: rem(10);
}

.roolith__editor__modal__form__item__label {
    display: block;
    padding-bottom: rem(5);
}

.roolith__editor__modal__form__item__field {
    width: 100%;
    border: rem(1) solid darken($roolith-editor-primary-color, 5%);
    font-family: $roolith-editor-font-family;
    font-size: $roolith-editor-font-size;
    padding: rem(4) rem(7);
    outline: none;
    border-radius: $roolith-editor-border-radius;
}