$roolith-editor-primary-color: #EDEDED !default;
$roolith-editor-font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif !default;
$roolith-editor-font-size: rem(16) !default;
$roolith-editor-line-height: rem(22) !default;
$roolith-editor-border-color: $roolith-editor-primary-color !default;
$roolith-editor-border-radius: rem(5) !default;